/* remove bottom border from address bar */
.toolbar-mainbar:after {
    display: none !important;
}

/* force bookmark bar and buttons to use same
   background color as address bar */
.bookmark-bar,
.bookmark-bar button {
    background-color: var(--colorAccentBg) !important;
}

/* force bookmark bar and buttons to use same
   background color as address bar when user sets
   Apply accent color to window */
.color-behind-tabs-on .bookmark-bar,
.color-behind-tabs-on .bookmark-bar button {
    background-color: var(--colorBg) !important;
}

/* center bookmarks */
.bookmark-bar .observer {
    justify-content: center;
}